html{
    scroll-behavior: smooth;
    transition-delay: 800ms; ;
}
body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin-left:8.5%;
    margin-right:8.5%;
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(252, 250, 250, 0.911);
}
.header{

    display:grid;
    grid-template-columns: 80% 20%;
    margin-top: 1%;
    padding: 5px;
    box-shadow: 2px 2px 2px rgb(214, 210, 210);

}
.head p{
    display: inline;
    color: rgb(26, 91, 134);
    font-weight: bold;
    padding-top: 15px ;
}
.head img{
    float: left;
}
.head_img img{
    float: left;
    padding: 0 20px 0 20px;
}
.head_img img:hover{
    box-shadow: 4px 4px 3px rgb(209, 93, 93);
}
.head p:hover{
    text-shadow:1px 1px lightblue;
}

.categories{    
    margin-top: 1%;
    text-align: center;
    background-color: rgb(67, 98, 148);
    border-radius: 20px;
    color: white;
    padding:5px;
    box-shadow: 4px 4px 3px rgb(214, 210, 210);
}
.categories p{
    display: inline;
    padding:0 20px 0 20px;   
}
.categories img{
    float:left;
    padding-left: 50px;
}
.categories p:hover{
    border-bottom: 2px solid chocolate;
    cursor:pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
.categories img:hover{
    box-shadow: 3px 3px 3px rgb(165, 122, 122);
    cursor: pointer     ;
}
.V_categories{
    position: relative;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-top: 4%;
    color: rgb(255, 255, 255);
    text-align: center;
}
.books img{
    padding: 1% 10%;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    cursor: pointer;
    border:2px solid black;
}
.book{
    position: absolute;
    top: 40%;
    left: 14%;
    font-size: 20pt;
    font-weight: bold;
    cursor: pointer;
}
.EandE img{
    padding: 1% 10%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    cursor: pointer;
    border:2px solid black;
}
.E{
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 20pt;
    font-weight: bold;
    cursor: pointer;
}
.electronics img{
    padding: 1% 10%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    cursor: pointer;
    border:2px solid black;
}
.elec{
    position: absolute;
    top: 40%;
    left: 78%;
    font-size: 20pt;
    font-weight: bold;
    cursor: pointer;
}
.desc{
    background-color: burlywood;
}
